/.phpunit.cache
/node_modules
/public/hot
/public/build
/public/storage
/public/upload
/storage/*.key
/vendor
.idea/
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
worker.log