/.phpunit.cache
/.vscode
/node_modules
/public/hot
/public/build
/public/storage
/public/upload
/storage/*.key
/vendor

.idea/
.env
.phpunit.result.cache

Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
worker.log

/docker-compose/mysql/
/docker-compose/nginx/*
!/docker-compose/nginx/teekit.example.conf